/* Merged Racket Default and Github .warning and .error */

.section {
    margin: 25px;
    color: #9c2400;
	background-color: #ffe3c8;
    background: -moz-linear-gradient(#ffe3c8, #f5dac0);
    background: -webkit-linear-gradient(#ffe3c8, #f5dac0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3c8', endColorstr='#f5dac0')";
  	font-family: 'Courier', monospace;
    border: 1px solid #da9797
}

.title {
  	font-size: large;
  	padding: 5px;
    color: #613A00;
    background-color: #f8d8d8;
    background: -moz-linear-gradient(#f8d8d8, #efd0d0);
    background: -webkit-linear-gradient(#f8d8d8, #efd0d0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8d8d8', endColorstr='#efd0d0')";
    border: 1px solid #dca874

}

.section > p {
	font-size: 0.84rem;
  	margin-left: 5px;
 	margin-right: 5px;
}

.section > pre {
 	white-space: pre-wrap;       /* css-3 */
 	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 	white-space: -pre-wrap;      /* Opera 4-6 */
 	white-space: -o-pre-wrap;    /* Opera 7 */
 	word-wrap: break-word;       /* Internet Explorer 5.5+ */
 
  	background-color: #ffccff;
  	margin-left: 5px;
  	margin-right: 5px;
  	padding: 5px;
  	border: 1px solid #ff99ff;
}

.error {
 	color: red;
 	font-size: large;
}
